/*
  Adapted according to guide from:
  https://css-tricks.com/easy-dark-mode-and-multiple-color-themes-in-react/
*/

:root {
  --headersize: 5rem;
}

[data-theme='light'] {
  --background-dark: #f6f6f6;
  --background-light: #ffffff;
  --text-primary: #000000;
  --text-secondary: royalblue;
  --accent: 106, 1, 54;
  --border-color: #d3d3d3;
}

[data-theme='dark'] {
  --background-dark: #020d12;
  --background-light: #062837;
  --text-primary: #ffffff;
  --text-secondary: #808080;
  --accent: 106, 1, 54;
  --border-color: #d3d3d3;
}
